.main{
  background: black;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    margin: -6%;
    z-index: 100;
    transition: all 300ms;
}

.container__header{
    max-width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
    margin-top: -35px;
    color: #FFFFFF;
}

header .title-izq{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    margin-top: auto;
}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    color: white;
    font-size: 14px;
}

.select{
    background: #359EF9;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.cover{
    width: 100%;
    padding-bottom: 60px;
    margin-top: 100px;
}

.container__cover{
    width: 79.7%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cover .container__info{
  color: #FFFFFF;
    max-width: 33%;
    margin-top: 60px;
  }

.cover h1{
    font-family: Lora;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
}

.cover p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    width: 75%;
}

.container__vector img{
  margin-left: 20%;
   margin-right: 10%;
    width: 90%;
    height: 80%;
    margin-top: 5%;
     box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.container-two{
 background: #359EF9;
    width: 400px;
    height: 180px;
    margin-top: -15%;
    margin-left: 66%;
    transform-style: preserve-3d;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.container-perfil{
  width: 30px;
  height: 60px;
  display: flex;
}

.container-perfil img{
    border-radius: 50%;
    margin-left: 41px;
    align-self: flex-start;
    width: 70px;
    padding: 5px;
}

.container-infos{
align-items: center;
display: flex;
flex-direction: column;
  margin-left: -50px;
  margin-top: -60px;
}

.name-perfil{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
    padding: 0;
    box-sizing: border-box;
}

.perfil-info{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
      margin: -5px;
}	

.title-perfil{
  font-family: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;   
}

.footer-content a{
    color: rgb(206, 35, 35);
    font-size: 14px;
    text-decoration: none;
}